// Colors
$cl_primary: #f1038b;
$cl_secondary1: #f20707;
$cl_secondary2: #be0202;
$cl_secondary3: #074871;

// Light palette
$cl_white: #fff;
$cl_light1: #f0f4f1;

// Dark palette
$cl_black: #000;
$cl_dark1: #0d0f0c;
$cl_dark2: #150a1e;
