@import '../../common/styles/variables/colors';

.ContentPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  height: 100vh;

  @media (min-width: 700px) {
    padding: 0;
    align-items: center;
  }
}

.SecondPage {
  @extend .ContentPage;
  background-color: $cl_light1;
}

.About {
  display: flex;
  flex-direction: column;
  width: 60%;

  p {
    color: $cl_dark1;
    font-size: 1.7rem;
    line-height: 2rem;
  }
}
